@font-face {
    font-family: BrandonMed;
    src: url(../fonts/Brandon_med.ttf);
}

.pantallaInicio {
    width: calc(100% - 60px);
    height: calc(100% - 60px);
    position: absolute;
    z-index: 50;
    overflow: hidden;
    background-color: #1e1d24;
    font-family: BrandonBold;
    color: #fff;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pantallaInicio h2 {
    margin: 30px 0 40px 0;
    font-size: 30px;
    text-align: center;
    line-height: 35px;
}

.pantallaInicio img {
    width: 150px;
    height: 150px;
    object-fit: contain;
    pointer-events: none;
    user-select: none;
}

.pantallaInicio button {
    width: 90%;
    outline: none;
    border: none;
    font-family: MikadoBold;
    font-size: 24px;
    color: #fff;
    text-shadow: 3px 1px #000000ab;
    background: #fd9802;
    padding: 10px 20px;
    border-radius: 8px;
    box-shadow: 0 5px #b03a0e;
    cursor: pointer;
    transition: .1s ease;
}

.pantallaInicio button:hover {
    transform: translateY(5px);
    box-shadow: none;
}

.pantallaInicio button:active {
    opacity: 75%;
}

.ocultarPantallaInicio {
    transform: translateY(120%);
    transform-origin: center;
    pointer-events: none;
    transition: .5s ease;
}


/* Modal nombre jugador */
.modal {
    position: absolute;
    z-index: 60;
    width: calc(90% - 70px);
    background: rgb(224, 224, 224);
    box-shadow: 7px 7px rgb(148, 148, 148);
    border-radius: 8px;
    padding: 35px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    transform: translateY(-120%);
    opacity: 0;
    pointer-events: none;
    transition: .5s ease;
}

.modalFondo {
    position: absolute;
    z-index: 55;
    background: rgba(0, 0, 0, 0.253);
    backdrop-filter: grayscale(60%) blur(2px);
    width: 100%;
    height: 100%;
    opacity: 0;
    pointer-events: none;
    transition: .3s ease;
}

.modal__titulo {
    color: #000;
    font-size: 20px;
    width: 100%;
    text-align: left;
}

.modal__aviso {
    margin: 10px 0 20px 0;
    width: calc(100% - 20px);
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(102, 102, 102, 0.356);
    border-radius: 8px;
    padding: 7px 10px;
    gap: 5px;
    transition: .3s ease;
    transform-origin: center;
}

.modal__aviso svg {
    width: 16px;
}

.modal__aviso p {
    font-size: 12px;
    margin: 0;
    color: #000;
    text-transform: uppercase;
}

.ocultar-modal__aviso {
    transform: scale(0);
    height: 0;
    padding: 0;
    pointer-events: none;
    opacity: 0;
}

.modal input {
    width: calc(100% - 20px);
    padding: 7px 10px;
    outline: none;
    background: none;
    border: 2px solid #acacac;
    border-radius: 6px;
    margin-top: 15px;
    color: #000;
    font-family: BrandonMed;
    font-size: 18px;
    transition: .3s ease transform;
}

.modal input::placeholder {
    font-family: BrandonReg;
    font-size: 16px;
    font-weight: 400;
}

.modal input:focus {
    border-color: transparent;
    outline: 3px solid #426fc2;
    transform: scale(1.05);
}

.modal button {
    width: 100%;
    background: #3c6fcc;
    box-shadow: 0 5px #22427e;
    user-select: none;
}

.guardarUsuario-deshabilitado {
    pointer-events: none;
    filter: grayscale(80%);
}

.aparecerModal {
    transform: translateY(0%);
    opacity: 1;
    pointer-events: all;
    transition: .3s ease;
}

.aparecerFondoModal {
    opacity: 1;
    pointer-events: all;
    transition: .3s ease;
}


/* Boton Mute */
.mutearJuego {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
}

.mutearJuego box-icon {
    fill: #fff;
    font-size: 24px;
}

.mutearJuego::before {
    content: "";
    width: 2px;
    height: 0;
    background: #fff;
    border-radius: 5px;
    position: absolute;
    transform: rotate(-45deg);
    transition: .3s ease;
}

.juegoMuteado::before {
    height: 30px;
}


.limite-preguntas {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 7px 15px;
    width: calc(90% - 30px);
    background: #dadada;
    border-radius: 6px;
    margin-bottom: 20px;
}

.limite-preguntas p {
    margin: 0;
    color: #161616;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
}

.limite-preguntas select {
    background: #c1c1c1;
    border: none;
    outline: none;
    padding: 5px;
    cursor: pointer;
    font-family: inherit;
    border-radius: 6px;
    box-shadow: 0 2px #989898;
}