/* Preloader */
.preloader {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #1e1d243b;
    backdrop-filter: blur(10px);
    position: absolute;
    z-index: 999;
    transition: .5s ease;
}

.preloader img {
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 100%;
    user-select: none;
    transition: .3s ease;
    animation: girarLoader 2s infinite ease;
    filter: drop-shadow(0 0 50px #fff);
}

@keyframes girarLoader {
    to {
        transform: rotate(360deg);
    }
}

.ocultarLoader {
    background: none;
    transform-origin: center;
    opacity: 0;
    pointer-events: none;
    transition: 1s ease;
}