@font-face {
    font-family: MikadoBold;
    src: url(../fonts/MikadoBold_DEMO.ttf);
}

@font-face {
    font-family: BrandonReg;
    src: url(../fonts/Brandon_reg.ttf);
}

@font-face {
    font-family: BrandonBold;
    src: url(../fonts/Brandon_bld.ttf);
}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: MikadoBold;
}

.fondo {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(150deg, #eba102, #4a02f1, #00c257, #f10271, #02a9eb);
    background-size: 1200% 100%;
    animation: animarGradiente 8s ease infinite;
}

@keyframes animarGradiente {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

header {
    display: flex;
    position: fixed;
    top: 3vh;
    left: 3vh;
    z-index: 30;
}

header a {
    display: flex;
    text-decoration: none;
}

header img {
    width: 35px;
    object-fit: contain;
    margin-right: 7px;
}

h1 {
    font-size: 24px;
    color: #fff;
    text-transform: uppercase;
    user-select: none;
    font-weight: 800;
    margin: 0;
}

header:hover>img {
    animation: girar 1s ease;
}

@keyframes girar {
    to {
        transform: rotate(360deg);
    }
}

noscript {
    width: calc(100% - 60px);
    height: 100%;
    padding: 20px 30px;
    position: absolute;
    z-index: 1000;
    background: #1e1d24;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

noscript img {
    width: 150px;
    height: 150px;
    object-fit: contain;
    pointer-events: none;
    user-select: none;
    filter: grayscale(80%);
}

noscript p {
    text-align: center;
    font-size: 24px;
    color: #fff;
}

noscript p span {
    font-family: MikadoBold;
}

noscript a {
    padding: 7px 20px;
    background: rgb(197, 197, 197);
    color: rgb(31, 31, 31);
    text-decoration: none;
    font-family: MikadoBold;
    text-transform: uppercase;
    border-radius: 8px;
    box-shadow: 0 5px #857d7a;
    transition: .1s ease;
}

noscript a:hover {
    background: rgb(236, 236, 236);
    transform: translateY(5px);
    box-shadow: none;
}

noscript a:active {
    opacity: 75%;
}

@media print {
    .fondo {
        height: 100vh;
    }

    .celular__contenido {
        position: absolute;
    }

    .usuario-eliminar, .botonesFinal {
        display: none !important;
    }
}

* {
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
}